@font-face {
    font-family: "Arial";
    src: url("../../assets/fonts/Arial.woff") format("woff"),
        url("../../assets/fonts/Arial.woff") format("woff");
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../../assets/fonts/Helvetica-Bold.ttf") format("woff"),
        url("../../assets/fonts/Helvetica-Bold.ttf") format("woff");
}