$primary: #9466ff;
$black: #121214;
$white: #E1E1E6;
$gray: #a8a8b3;
$green: #04d361;

$theme-colors: (
    "primary": $primary,
    "black": $black,
    "white": $white,
    "gray": $gray,
    "green": $green,
);